COMPOSE_PROJECT_NAME=My-Agent
PROJECT_NETWORK=AIProject
PROJECT_TYPE=sandbox
PROJECT_NAME=My-Agent
CONTAINER_ID_NAME=AIAGENT

DEBUG=True

# api
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_EXPOSE_PORT=8000

# concurency
MAX_WORKERS=10
GRACEFUL_TIMEOUT=30
WORKERS_TIMEOUT=120
WORKERS_KEEPALIVE=5
WORKERS_MAX_REQUESTS=1000
WORKERS_REQUESTS_JITTER=100

# log
ACCESSLOG=./access.log
ERRORLOG=./error.log
LOGLEVEL=info

#agent Gemini: https://ai.google.dev/
#https://aistudio.google.com/app/apikey
GG_PROVIDER=google
GG_LITELLM_PROVIDER=gemini
GG_MODEL_NAME=gemini-2.0-flash-lite
GG_GEMINI_API_KEY=e9348dbfb416e1b7646cd2b2b73594619437905b
GG_GOOGLE_APPLICATION_CREDENTIALS=/app/key.json
GG_AGENTOPS_API_KEY=your_agentops_api_key
GG_SENDER_EMAIL=trizelka@gmail.com
GG_EMAIL_PASSWORD=your_app_specific_password

#agent Huggingface: https://huggingface.co/
HG_PROVIDER=huggingface
HG_LITELLM_PROVIDER=huggingface
HG_MODEL_NAME=google/gemma-2-2b-it
#HG_MODEL_NAME=meta-llama/Meta-Llama-3-8B-Instruct
HG_API_KEY=your_huggingface_api_key

#agent qwen: https://modelstudio.console.alibabacloud.com/
QW_PROVIDER=Qwen
QW_LITELLM_PROVIDER=Qwen
QW_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
QW_MODEL_NAME=dashscope/qwen3-vl-plus
QW_API_KEY=your_qwen_api_key

#agent openai
OA_PROVIDER=None
OA_OPENAI_API_KEY=None
OA_LITELLM_OPENAI_API_KEY=None
OA_LITELLM_API_KEY=None
OA_LITELLM_PROVIDER=None

#agent crewai
CREWAI_PROVIDER=None
CREWAI_API_KEY=None

#agent Duckduckgo: https://duckduckgo.com/?q=DuckDuckGo+AI+Chat&ia=chat&duckai=1
DD_PROVIDER=duckduckgo
DD_API_KEY = "<your api key here>"

#agent perplexity: https://docs.perplexity.ai/getting-started/overview
PP_PROVIDER=duckduckgo
PP_API_KEY = "<your api key here>"
