COMPOSE_PROJECT_NAME=My-Agent
PROJECT_NETWORK=AIProject
PROJECT_TYPE=sandbox
PROJECT_NAME=My-Agent
CONTAINER_ID_NAME=AIAGENT

DEBUG=True

# api
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
HTTP_EXPOSE_PORT=8000

# concurency
MAX_WORKERS=10
GRACEFUL_TIMEOUT=30
WORKERS_TIMEOUT=120
WORKERS_KEEPALIVE=5
WORKERS_MAX_REQUESTS=1000
WORKERS_REQUESTS_JITTER=100

# log
ACCESSLOG=./access.log
ERRORLOG=./error.log
LOGLEVEL=info

#agent Gemini: https://ai.google.dev/
PROVIDER=google
LITELLM_PROVIDER=gemini
MODEL_NAME=gemini-2.0-flash-lite
GEMINI_API_KEY=your_google_gemini_api_key
GOOGLE_APPLICATION_CREDENTIALS=path_to_your_service_account.json
AGENTOPS_API_KEY=your_agentops_api_key
SENDER_EMAIL=your_email@gmail.com
EMAIL_PASSWORD=your_app_specific_password

#agent openai
OPENAI_API_KEY=None
LITELLM_OPENAI_API_KEY=None
LITELLM_API_KEY=None
LITELLM_PROVIDER=None
CREWAI_API_KEY=None
CREWAI_PROVIDER=None

#agent Duckduckgo: https://duckduckgo.com/?q=DuckDuckGo+AI+Chat&ia=chat&duckai=1
DUCKDUCKGO_API_KEY = "<your api key here>"

#agent perplexity: https://docs.perplexity.ai/getting-started/overview
PERPLEXITY_API_KEY = "<your api key here>"